<div class="row">
  <div class="medium-6 columns">
    <img class="thumbnail" src="<%= @pet.image %>">
  </div>
  <div class="medium-6 large-5 columns">
    <h3><%= @pet.name %></h3>
    <p><%= @pet.age %> &#9679; <%=@pet.sex%> &#9679; <%=@pet.size%></p>


    <a href="#" class="button large expanded">Adopt Me</a>
    <a href="#" class="button large expanded">Favorite Me</a>
</div>
</div>
<div class="row">
  <div class="card-divider">
    <h1 class="pet-story"><%= @pet.name %>'s story</h1>
  </div>
  <div class="card-section">
    <p class="specs"><%= @pet.description %></p>
  </div>
</div>
